<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage_bajos.css') }}">
    Version Privada Estatica Punto Fijo <br>
    reporte del Inventario
    {{ horalocal }}
    <br>
    <center>
  <center><h3> PRODUCTOS CANTIDAD BAJA  </h3>
  <body><br>
    <div>
    <a class="btn1" href="reporte"><b>Reporte General</a>  <br>
    <a class="btn1" href="bajos"<b>Productos Bajos</a> <br>
    <a class="btn1" href="modificar"><b>Salidas/Entradas </a>   <br>
    <a class="btn1" href="agregar "><b>Inscribir Producto</a> <br>
    <a class="btn1" href="enviar reporte ">Enviar reporte </a> <br>
    </div>
    <br><br>
    <table border="2">
      <tr>
        <th><b> Nombre del Producto<b></th>
        <th><b> Cantidad <b></th>
      </tr>
      </table>
      <table border="2">
<tr> 
<th>5) aperitivo curacao Manzana</th><th>0</th>
</tr>
<tr> 
<th>6) aperitivo curacao cachaca</th><th>0</th>
</tr>
<tr> 
<th>7) aperitivo curacao</th><th>0</th>
</tr>
<tr> 
<th>8) aperitivo granadina</th><th>0</th>
</tr>
<tr> 
<th>9) aperitivo jagermeiser litro</th><th>0</th>
</tr>
<tr> 
<th>10) aperitivo sangria curacaoa</th><th>0</th>
</tr>
<tr> 
<th>11) aperitivo triqple sec</th><th>0</th>
</tr>
<tr> 
<th>12) cerveza maltin polar</th><th>0</th>
</tr>
<tr> 
<th>13) coquito</th><th>0</th>
</tr>
<tr> 
<th>14) crema baileys 750</th><th>0</th>
</tr>
<tr> 
<th>15) Crema baileys litro</th><th>0</th>
</tr>
<tr> 
<th>16) crema Brogan</th><th>0</th>
</tr>
<tr> 
<th>17) crema piña colada litro</th><th>0</th>
</tr>
<tr> 
<th>18) ginebra amsterdam</th><th>0</th>
</tr>
<tr> 
<th>19) ginebra azov</th><th>0</th>
</tr>
<tr> 
<th>20) ginebra beefeder</th><th>0</th>
</tr>
<tr> 
<th>21) ginebra bombay</th><th>0</th>
</tr>
<tr> 
<th>22) ginebra gordons</th><th>0</th>
</tr>
<tr> 
<th>23) ginebra gordons garrafa</th><th>0</th>
</tr>
<tr> 
<th>24) ginebra greenland</th><th>0</th>
</tr>
<tr> 
<th>25) ginebra hendrix</th><th>0</th>
</tr>
<tr> 
<th>26) ginebra tanquerai </th><th>0</th>
</tr>
<tr> 
<th>27) ron 5 estrellas</th><th>0</th>
</tr>
<tr> 
<th>28) ron 5 estrellas blanco</th><th>0</th>
</tr>
<tr> 
<th>29) Ron abuelo 1/4</th><th>0</th>
</tr>
<tr> 
<th>30) Ron abuelo litro</th><th>0</th>
</tr>
<tr> 
<th>31) ron bacardi 1/2</th><th>0</th>
</tr>
<tr> 
<th>32) ron bacardi blanco</th><th>0</th>
</tr>
<tr> 
<th>33) ron bacardi limon</th><th>0</th>
</tr>
<tr> 
<th>34) ron barrica</th><th>0</th>
</tr>
<tr> 
<th>35) ron botran</th><th>0</th>
</tr>
<tr> 
<th>36) ron cacique 500</th><th>0</th>
</tr>
<tr> 
<th>37) ron cacique rojo</th><th>0</th>
</tr>
<tr> 
<th>38) ron carupano blanco</th><th>0</th>
</tr>
<tr> 
<th>39) ron cortez blanco</th><th>0</th>
</tr>
<tr> 
<th>40) ron diplomatico</th><th>0</th>
</tr>
<tr> 
<th>41) ron diplomatico reserva</th><th>0</th>
</tr>
<tr> 
<th>42) ron habana 7 años</th><th>0</th>
</tr>
<tr> 
<th>43) ron hechicera</th><th>0</th>
</tr>
<tr> 
<th>44) ron magitral</th><th>0</th>
</tr>
<tr> 
<th>45) ron mojito</th><th>0</th>
</tr>
<tr> 
<th>46) ron santa teresa 750</th><th>0</th>
</tr>
<tr> 
<th>47) ron santa teresa superior</th><th>0</th>
</tr>
<tr> 
<th>48) ron santa teresa superior lt</th><th>0</th>
</tr>
<tr> 
<th>49) tequila 1800 añejo 750</th><th>0</th>
</tr>
<tr> 
<th>50) tequila 1800 reposado litro</th><th>0</th>
</tr>
<tr> 
<th>51) tequila chapas blanco</th><th>0</th>
</tr>
<tr> 
<th>52) tequila chapas reposado</th><th>0</th>
</tr>
<tr> 
<th>53) tequila charro blanco</th><th>0</th>
</tr>
<tr> 
<th>54) tequila charro gold</th><th>0</th>
</tr>
<tr> 
<th>55) tequila charro reposado</th><th>0</th>
</tr>
<tr> 
<th>56) tequila corrales</th><th>0</th>
</tr>
<tr> 
<th>57) tequila don julio</th><th>0</th>
</tr>
<tr> 
<th>58) tequila jimador blanco</th><th>0</th>
</tr>
<tr> 
<th>59) tequila jimador reposado</th><th>0</th>
</tr>
<tr> 
<th>60) tequila jose cuervo 1/2</th><th>0</th>
</tr>
<tr> 
<th>61) tequila jose cuervo 750</th><th>0</th>
</tr>
<tr> 
<th>62) tequila jose cuervo blanco</th><th>0</th>
</tr>
<tr> 
<th>63) tequila jose cuervo litro</th><th>0</th>
</tr>
<tr> 
<th>64) tequila mezcal</th><th>0</th>
</tr>
<tr> 
<th>65) tequila rancho loco amarillo</th><th>0</th>
</tr>
<tr> 
<th>66) tequila rancho loco blanco</th><th>0</th>
</tr>
<tr> 
<th>67) viano andre rose</th><th>0</th>
</tr>
<tr> 
<th>68) vino andre brut</th><th>0</th>
</tr>
<tr> 
<th>69) vino andre semisec</th><th>0</th>
</tr>
<tr> 
<th>70) vino casillero blanco</th><th>0</th>
</tr>
<tr> 
<th>71) vino casillero carmeniere</th><th>0</th>
</tr>
<tr> 
<th>72) vino casillero merlot</th><th>0</th>
</tr>
<tr> 
<th>73) vino casillero tinto</th><th>0</th>
</tr>
<tr> 
<th>74) vino cuatro cumbres</th><th>0</th>
</tr>
<tr> 
<th>75) vino dubonet</th><th>0</th>
</tr>
<tr> 
<th>76) vino frontera blanco</th><th>0</th>
</tr>
<tr> 
<th>77) vino frontera merlot</th><th>0</th>
</tr>
<tr> 
<th>78) vino frontera tinto</th><th>0</th>
</tr>
<tr> 
<th>79) vino manischewitz</th><th>0</th>
</tr>
<tr> 
<th>80) vino santa rita</th><th>0</th>
</tr>
<tr> 
<th>81) vodka absolute litro</th><th>0</th>
</tr>
<tr> 
<th>82) vodka absolute miniatura</th><th>0</th>
</tr>
<tr> 
<th>83) vodka exquisite</th><th>0</th>
</tr>
<tr> 
<th>84) vodka glacial</th><th>0</th>
</tr>
<tr> 
<th>85) vodka gordons </th><th>0</th>
</tr>
<tr> 
<th>86) vodka grey gose </th><th>0</th>
</tr>
<tr> 
<th>87) vodka pablov</th><th>0</th>
</tr>
<tr> 
<th>88) vodka pablov</th><th>0</th>
</tr>
<tr> 
<th>89) vodka poliacov</th><th>0</th>
</tr>
<tr> 
<th>90) vodka sin7ns</th><th>0</th>
</tr>
<tr> 
<th>91) vodka smirnoff 750</th><th>0</th>
</tr>
<tr> 
<th>92) vodka smirnoff ice</th><th>0</th>
</tr>
<tr> 
<th>93) vodka smirnoff ice manzana</th><th>0</th>
</tr>
<tr> 
<th>94) vodka smirnoff litro</th><th>0</th>
</tr>
<tr> 
<th>95) vodka smirnoff lulo</th><th>0</th>
</tr>
<tr> 
<th>96) vodka xtreme</th><th>0</th>
</tr>
<tr> 
<th>97) wk ballantines</th><th>0</th>
</tr>
<tr> 
<th>98) wk black & white  litro</th><th>0</th>
</tr>
<tr> 
<th>99) wk black & white 1/2</th><th>0</th>
</tr>
<tr> 
<th>100) wk black & white 1/4</th><th>0</th>
</tr>
<tr> 
<th>101) wk black & white 750</th><th>0</th>
</tr>
<tr> 
<th>102) wk black streep</th><th>0</th>
</tr>
<tr> 
<th>103) wk blend seven</th><th>0</th>
</tr>
<tr> 
<th>104) wk Buchana master 750</th><th>0</th>
</tr>
<tr> 
<th>105) wk buchanas 1/2</th><th>0</th>
</tr>
<tr> 
<th>106) wk buchanas 750</th><th>0</th>
</tr>
<tr> 
<th>107) wk buchanas litro</th><th>0</th>
</tr>
<tr> 
<th>108) wk buchanas master litro</th><th>0</th>
</tr>
<tr> 
<th>109) wk chanceler</th><th>0</th>
</tr>
<tr> 
<th>110) wk chivas 21 rojo</th><th>0</th>
</tr>
<tr> 
<th>111) wk chivas 750</th><th>0</th>
</tr>
<tr> 
<th>112) wk chivas litro</th><th>0</th>
</tr>
<tr> 
<th>113) wk destiler</th><th>0</th>
</tr>
<tr> 
<th>114) wk doble black</th><th>0</th>
</tr>
<tr> 
<th>115) wk dumont</th><th>0</th>
</tr>
<tr> 
<th>116) wk elite reserva </th><th>0</th>
</tr>
<tr> 
<th>117) wk glend simons</th><th>0</th>
</tr>
<tr> 
<th>118) wk grants 1/2</th><th>0</th>
</tr>
<tr> 
<th>119) wk grants 750</th><th>0</th>
</tr>
<tr> 
<th>120) wk grants litro</th><th>0</th>
</tr>
<tr> 
<th>121) wk hilang reserva</th><th>0</th>
</tr>
<tr> 
<th>122) wk hunting</th><th>0</th>
</tr>
<tr> 
<th>123) wk jackdanields 750</th><th>0</th>
</tr>
<tr> 
<th>124) wk jackdanields canela</th><th>0</th>
</tr>
<tr> 
<th>125) wk jackdanields honey</th><th>0</th>
</tr>
<tr> 
<th>126) wk jackdanields litro</th><th>0</th>
</tr>
<tr> 
<th>127) wk james king</th><th>0</th>
</tr>
<tr> 
<th>128) wk king charles</th><th>0</th>
</tr>
<tr> 
<th>129) wk lavel 5 1/4</th><th>0</th>
</tr>
<tr> 
<th>130) wk lavel 5 370</th><th>0</th>
</tr>
<tr> 
<th>131) wk lavel 5 litro</th><th>0</th>
</tr>
<tr> 
<th>132) wk manager 1/4</th><th>0</th>
</tr>
<tr> 
<th>133) wk manager garrafa</th><th>0</th>
</tr>
<tr> 
<th>134) wk manager litro</th><th>0</th>
</tr>
<tr> 
<th>135) wk marchal</th><th>0</th>
</tr>
<tr> 
<th>136) wk mc gregor 1/4</th><th>0</th>
</tr>
<tr> 
<th>137) wk mc gregor litro</th><th>0</th>
</tr>
<tr> 
<th>138) wk old label</th><th>0</th>
</tr>
<tr> 
<th>139) wk old parr 1/2</th><th>0</th>
</tr>
<tr> 
<th>140) wk old parr 750</th><th>0</th>
</tr>
<tr> 
<th>141) wk old parr estampillada</th><th>0</th>
</tr>
<tr> 
<th>142) wk old parr litro</th><th>0</th>
</tr>
<tr> 
<th>143) wk old parr tributo</th><th>0</th>
</tr>
<tr> 
<th>144) wk robertico 1/4</th><th>0</th>
</tr>
<tr> 
<th>145) wk robertico litro</th><th>0</th>
</tr>
<tr> 
<th>146) wk royal choise</th><th>0</th>
</tr>
<tr> 
<th>147) wk sello negro 1/2</th><th>0</th>
</tr>
<tr> 
<th>148) wk sello negro 750</th><th>0</th>
</tr>
<tr> 
<th>149) wk sello negro litro</th><th>0</th>
</tr>
<tr> 
<th>150) wk sello rojo 750</th><th>0</th>
</tr>
<tr> 
<th>151) wk sello rojo litro</th><th>0</th>
</tr>
<tr> 
<th>152) wk sellor rojo 1/2</th><th>0</th>
</tr>
<tr> 
<th>153) wk sir edwards 1/4</th><th>0</th>
</tr>
<tr> 
<th>154) wk sir edwards litro</th><th>0</th>
</tr>
<tr> 
<th>155) wk smore</th><th>0</th>
</tr>
<tr> 
<th>156) wk something litro</th><th>0</th>
</tr>
<tr> 
<th>157) wk warrior</th><th>0</th>
</tr>
<tr> 
<th>158) wk wky</th><th>0</th>
</tr>
