<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <meta charset="utf-8">
<meta charset="UTF-8"/>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/modificar.css') }}">
  <title>INVENTARIOS</title>
  <center><br>
    <hr>
  <label for="escritor"><h3> PUNTO FIJO  </h3></label><br>
  {{ horalocal }}
</center></head>
  <hr>
  <br><center>
  <body>
  <a class="btn1" href="reporte"><b>Reporte General</a><br><br>
  <a class="btn1" href="bajos"><b>Productos Bajos</a><br><br>
  <a class="btn1" href="modificar"><b>Salidas/Entradas</a><br><br>
  <a class="btn1" href="agregar "><b>Inscribir Producto</a><br><br>
  <a class="btn1" href="enviar reporte "><b>Enviar reporte </a><br><br>
