<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/accepte.css') }}">
<head>
	<title>Producto</title>
	<center>
		<h3> CONFIRMACION</h3>
	</center>
	Resumen de la TRANSACCION : <br>
	<br><a class="btn1" href="modificar"><b><b>MODIFICAR OTROS PRODUCTOS</b> </a>
	 <br>
	<hr>
	<center>
	ID : <H2>{{ id_p }}</H2>
	CANTIDAD ANTERIOR <H2>{{ id_cant }}</H2><br>
	NUEVA CANTIDAD <H2>{{ nuevas }}</H2><br><hr>
 <br><br>
	<br><a class="btn1" href="reporte"><b><b> SALIR</b> </a>

</head>
<body>

</body>
</html>